body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 0cm !important;
}
.wrapper {
    width: 100%;
}
.header {
    width: 100%;
    padding: 40px 0;
}
.logo {
    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}
.nav {
   width: auto;
    padding: 10px 0;
    background-color: #c34f4f;
    text-align: center;
    border-top: 1px sloid #751b1b;
    border-bottom: 1px sloid #751b1b;
}
.content {
    width: 1000PX;
   margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}
.social {
   width: 100%;
    text-align: center;
    background-color:#292929 ;
}
.socialdiv {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.fb {
    width: 250px;
    height: 155px;
    float: left;
}
.fb:hover {
    background-color: #2e00c6;
}
.yt {
    width: 250px;
    height: 155px;
    float: left;
}
.yt:hover {
    background-color: #d90000;
}
.tw {
    width: 250px;
    height: 155px;
    float: left;
}
.tw:hover {
    background-color: #2a7af3;
}
.g {
    width: 250px;
    height: 155px;
    float: left;
}
.g:hover {
    background-color: #c30404;
}
.footer {
    text-align: center;
    background-color: #222222;
    padding: 30px;
}
.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
ol a {
    color: white;
    text-decoration: none;
    display: block;
}
ol > li {
    float: left; 
    width: 150px;
    height: 40px;
    border-right: 1px dashed rgb(7, 203, 27);
}
ol > li:first-child {
    border-left: 1px dashed rgb(7, 203, 27);
}
ol > li:hover {
    background-color: #f5bb1a;
}
ol > li:hover > a {
    color: rgb(1, 82, 9);
}
ol  > li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ol  > li:hover > ul {
    display: block;
}
ol  > li > ul > li {
    background-color: #3c9e2b;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #ff482c;
}
ol  > li > ul > li:hover {
    background-color: #3b8aff;
}
ol  > li > ul > li > a:hover {
    color: #0149b6;
}